.person-card{
  display: flex;
  background-color: rgb(141, 184, 211);
  flex-direction: column;
  width: 300px;
  height: 300px;
  border: 1px solid green;
  margin: 5%;
  justify-content: center;
  align-items: center;
  border-radius: 55px;
  box-shadow: 0 0 5px 3px rgb(141, 88, 88);
  float: left;
  
}

.title{
  font-size: 32px;
  font-weight: bold;
  
  
}

.age{
  font-size: 20px;
  font-weight: bold;
  color: blue;
}

a{
  color: rgb(183, 22, 40);
}

img{
  height: 150px;
}
